<h1>Welcome to the Soks Wiki</h1>
<div id='flash'><%= flash[:notice] %></div>

<%= form_for(@session,:url => session_url) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "problems") %> prevented you from signing in:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in"%>
  </div>
  <div class="sign_up">
    <%= link_to "Sign up", new_user_url %>
  </div>
<% end %>
